$bg: #000000;
$bg-overview: #080808;
$bg-icon: #121212;
$bg-pill: #1c1c1c;
$strokes: #121212;

$title: #dcdcdc;
$text: #b7b7b7;
$accent: #ff6161;

// @mixin background-blur($color, $opacity, $blur) {
// 	background-color: rgba($color, $opacity);
// 	backdrop-filter: blur($blur);
// }
